.react-datepicker {
  background-color: var(--color-bg-muted);
  border-color: var(--color-bg-muted);
  color: var(--color-text-base);
}

.react-datepicker__header {
  background-color: var(--color-bg-base);
  border-bottom-color: var(--color-bg-muted);
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: var(--color-text-base);
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: var(--color-text-base);
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: var(--color-primary);
  color: #fff;
}

.react-datepicker__day--keyboard-selected {
  background-color: var(--color-primary);
  color: #fff;
}

.react-datepicker__day:hover {
  background-color: var(--color-bg-muted);
}

.react-datepicker__day--disabled {
  color: var(--color-text-muted);
}

.react-datepicker__navigation-icon::before {
  border-color: var(--color-text-base);
}
